@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap');

:root {
  --color-background: hsl(30, 38%, 92%);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}
